.content {
    position: absolute;
    top: 50px;
    width: 100px;
}

.leftMenu {
    position: absolute;
    left: 0;
    width: 200px;
}

.rightContent {
    position: absolute;
    left: 200px;
    right: 0;
}