.content {
    position: absolute;
    left: 0;
    top: 50px;
    right: 0;
}

.leftMenu {
    position: fixed;
    left: 0;
    width: 200px;
    top: 50px;
    bottom: 0;
    background-color: white;
    border-right: 1px solid #aaa;
}

.leftMenu .ant-menu {
    font-size: 16px;
}

.rightContent {
    position: absolute;
    left: 200px;
    right: 0;
}

.rightContent .title {
    margin: 8px 0 0 8px;
    font-size: 1.5em;
    padding: 8px;
    background-color: white;
    border: 1px solid #aaa;
    border-right: 0;
}

.rightContent .title .menu {
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin-left: 2em;
}

.rightContent .body {
    margin: 8px 0 0 8px;
    background-color: white;
    border: 1px solid #aaa;
    border-right: 0;
    padding: 8px;
}