.createDeploySource .selectLanguage {
    margin-bottom: 8px;
}

.createDeploySource .sourceCards {

}

.createDeploySource .sourceCards .ant-card {
    display: inline-block;
    border: 1px solid #aaa;
    padding: 6px;
    margin-right: 8px;
    width: 200px;
    vertical-align: top;
}

.createDeploySource .sourceCards .ant-card-head {
    font-size: 1.2em;
}

.createDeploySource .sourceCards .ant-card-head-title img {
    height: 1em;
}

.createDeploySource .editor {
    margin-top: 8px;
}